@font-face {
    font-family: open-sans-light;
    src: url('/static/font/open-sans.light.ttf');
}
@font-face {
    font-family: open-sans;
    src: url('/static/font/open-sans.regular.ttf');
}

html {
  position: relative;
  min-height: 100%;
}
body {
    background-color: rgb(242, 242, 242);
    font-family: open-sans, sans-serif;
}
@media (min-width: 992px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
}
.navbar {
    height: 70px;
    background-color: white;
    z-index: 1;
}
.navbar a, .navbar a:hover {
    color: black;
    text-decoration: none;
}
.navbar > .container {
    padding-left: initial;
    padding-right: initial;
    margin-left: 40px;
    justify-content: normal;
}
main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url('/static/icons/frietzak.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom -1900px right;
}
.yellow-gradient {
    background-image: linear-gradient(to top, #eebe50, #e8d6ac, #f5f5e5, #f4f4f2);
}
.footer {
    background-color: #443034;
    padding-top: 35px;
    padding-bottom: 45px;
}
.jumbotron {
    background-color: #fffcfc;
}

.card {
    border: none;
    border-radius: 2rem;
}
.card-body, .card-img-overlay {
    padding: 25px 28px 35px;
}
.card-body {
    background: #FFF;
    position: relative;
}
.card-img-overlay {
    top: inherit;
}
.card-img-wrapper {
    overflow: hidden;
    border-radius: 2rem;
}
.card img {
    border-radius: 2rem;
    transition: transform .8s ease;
}
.card img:hover {
    transform: scale(1.05);
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: underline;
}
.card-text {
    font-size: 1.1em;
}

.logo-text {
    display: inline-block;
    line-height: 1.1;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}
.logo-text:hover {
    text-decoration: none;
}
.footer-logo {
    opacity: 0.8;
}
.footer-logo:hover {
    opacity: 1;
}
.logo-wrapper {
    height:100%;
    float:left;
    display:flex;
    align-items:flex-end;
}
.logo-wrapper img {
    margin-bottom: 10px;
}

.footer-links h3, .footer-links a {
    font-family: open-sans, sans-serif;
    color: white;
}
.footer-links ul, .footer-links li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-img-overlay h3 {
    font-family: open-sans, sans-serif;
    font-weight: bold;
}
.card-body h5, .card-body p {
    font-family: open-sans, sans-serif;
    font-weight: bold;
}
.title-red {
    font-family: open-sans, sans-serif;
    font-weight: bold;
    color: #a41e32;
}
.p-red {
    color: #f5595e;
}
.card-body p {
    line-height: 1.7rem;
    font-size: 1.2rem;
}