
{% extends "base.html" %}


{% block style %}
  <style>

  </style>
{% endblock style %}


{% block content %}


  <main role="main" class="container">

    <div class="row">
      <div class="col">
        <p>Hoge cultuur? Lage cultuur? Wij houden gewoon van cultuur. Waar dan ook.</p>
        <p>En van bamischijven met pindasaus.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span>Foto's via Pexels, makers:</span>
        <ul>
          <li>Cottonbro</li>
          <li>Dzenina Lukac</li>
          <li>Valeria Boltneva</li>
          <li>Daniel Reche</li>
          <li>Anton Uniqueton</li>
          <li>Khalil mahmoud</li>
          <li>Son Tung Tran</li>
          <li>Piotr Arnoldes</li>
          <li>Frederick Medina</li>
          <li>Roman Odintsov</li>
          <li>Pixabay</li>
          <li>Maria Orlova</li>
          <li>Kampus Production</li>
          <li>Engin Akyurt</li>
          <li>Chan Walrus</li>
          <li>Polina Tankilevitch</li>
          <li>Samson Katt</li>
        </ul>

        <span>Foto's via Unsplash, makers:</span>
        <ul>
          <li>Andy Wang</li>
          <li>Daria Nepriakhina</li>
        </ul>

        <span>Foto's via freepik.com</span>
        <ul>
          <li>stockking</li>
          <li>jcomp</li>
          <li>nakaridore</li>
        </ul>

        <p>Foto's via Wikimedia Commons</p>

        <p>Foto beginpagina copyright Everlast Creative</p>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul>
          <li>Hamburger icoon van <a href="https://www.onlinewebfonts.com/icon">Icon Fonts</a>.</li>
          <li>Media iconen van <a href="https://www.svgrepo.com/">svgrepo.com</a>.</li>
        </ul>
      </div>
    </div>

  </main>

{% endblock %}
