
{% extends "base.html" %}


{% block style %}
  <style>

  </style>
{% endblock style %}


{% block content %}


  <main role="main" class="container">

    <div class="row">
      <div class="col">
        <span>Deze site is bedoeld als parodie.</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span>Video's via Pexels, makers:</span>
        <ul>
          <li>Pressmaster</li>
          <li>cottonbro</li>
          <li>Rathaphon Nanthapreecha</li>
          <li>Bonus Studio</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span>Foto's via Pexels, makers:</span>
        <ul>
          <li>Dzenina Lukac</li>
          <li>Valeria Boltneva</li>
          <li>Daniel Reche</li>
          <li>Anton Uniqueton</li>
          <li>Khalil mahmoud</li>
          <li>Son Tung Tran</li>
          <li>Piotr Arnoldes</li>
          <li>Frederick Medina</li>
        </ul>

        <span>Foto's via Unsplash, makers:</span>
        <ul>
          <li>Andy Wang</li>
          <li>Daria Nepriakhina</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span>Hamburger icoon van <a href="https://www.onlinewebfonts.com/icon">Icon Fonts</a> (CC BY 3.0)</span>
      </div>
    </div>

  </main>

{% endblock %}
