
{% extends "base.html" %}


{% block style %}
  <style>
      .jumbotron-wrapper {
          position: absolute;
          top: 70px;
          width: 100%;
          height: 880px;
          background: linear-gradient(to right, #9f4f4f, #665201);
          clip-path: circle(1500px at 42% -620px);
      }
      .jumbotron-text {
          position: relative;
          color: white;
          font-family: open-sans, sans-serif;
      }
      .jumbotron-video-replacement {
          width: 100%;
          height: 100%;
          background-image: url('/static/img/wrapper_background.jpg');
          background-size: cover;
          opacity: 0.8;
      }

      .selection-pills span {
          background: white;
          border: 1px #b2394b solid;
          color: #b2394b;
          padding: 0.5rem 1rem;
          font-size: 0.9rem;
          font-family: open-sans, sans-serif;
      }
      .selection-pills span:hover {
          color: white;
          background-color: #b2394b;
      }

  </style>
{% endblock style %}


{% block content %}

  <div class="jumbotron-wrapper">
    <div class="jumbotron-video-replacement"></div>
  </div>

  <div class="yellow-gradient">

  <main role="main" class="container">

    <div class="jumbotron-text">
      <div class="row py-4" style="margin-bottom:7rem;">
        <div class="col-lg-5 col-md-2">
          <div style="border-bottom: 3px white solid; display:flex; padding-bottom:20px; margin-bottom:25px;">
            <img src="{{ url_for('static', filename='icons/hamburger.svg') }}" width="120px" height="120px"
                 alt="hamburger icon" style="filter:invert(1); align-self:center;">
            <div class="fs-1 ps-3 logo-text" style="align-self:center; line-height: 1.2; letter-spacing: 0.18rem;">
              HET<br/>KROKET<br/>GEBOUW
            </div>
          </div>
          <h2 class="fs-3 fw-bold" style="">Allemaaltijd in Het Kroketgebouw</h2>
        </div>
      </div>

    </div>

    <div class="row px-lg-4" style="position:relative; margin-top:1rem; margin-bottom:5rem; background:white; border-radius:1.5rem;">
      <div class="col" style="padding: 3rem; height:350px;">
        <h2 class="title-red mb-3">Kies een kroket</h2>
        <h6>Waar heb je trek in?</h6>
        <div class="selection-pills  mt-3">
          {% for snack in snacks %}
            <span class="badge rounded-pill shadow-sm mb-3 me-1">{{ snack }}</span>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row row-cols-md-2 row-cols-1 g-4 mb-5">
      {% for item in content_top %}
        <div class="col">
          <div class="card h-100 text-white">
            <div class="card-img-wrapper img-rounded img-see-through">
              <img src="/static/img_random/{{ item.2 }}" class="card-img"
                   style="aspect-ratio: 16 / 10; object-fit: cover;">
            </div>
            <div class="card-img-overlay p-5">
              <p class="card-text">{{ item.1 }}</p>
              <h3 class="card-title">{{ item.0 }}</h3>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="row mb-3">
      <div class="col">
        <h2 class="title-red ps-3">Aankomend</h2>
      </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1" style="margin-bottom:100px;">
      {% for item in content_mid %}
      <div class="col">
        <div class="card h-100 mb-4">
          <div style="position:relative;">
            <div class="card-img-wrapper">
              <img src="/static/img_random/{{ item.2 }}" class="card-img"
                   style="aspect-ratio: 16 / 10; object-fit:cover; border-radius: 2rem 2rem 0 0">
            </div>
            <div style="height:50px; position:absolute; bottom:0; background:white; width:80%;"></div>
            <div style="height:50px; position:absolute; left:80%; bottom:0; background:white; width:20%;
                        clip-path:polygon(0px 0px, 0px 100%, 100% 100%, 82.62% 91.23%, 66.61% 76.00%, 54.05% 56%,
                                          42.98% 36%, 33.38% 18.37%, 20% 6%, 0% 0%);">

            </div>
          </div>
          <div class="card-body pt-0 pb-2 px-4">
            <h5 class="card-title title-red">{{ item.0 }}</h5>
            <p class="card-text p-red">{{ item.1 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </main>
  </div>

  <div class="container pt-5">

    <div class="row">
      <div class="col ps-5 mb-3">
        <h2 class="title-red">Uitgebakken</h2>
      </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
      {% for item in content_bottom %}
        <div class="col p-4" style="margin-top:0;">
          <div class="card h-100 p-3">
            <div class="card-img-wrapper img-rounded">
              <img src="/static/img_random/{{ item.2 }}" class="card-img-top"
                  style="aspect-ratio: 16 / 13; object-fit: cover;">
            </div>
            <div class="card-body py-4 px-0">
              <h4 class="card-title title-red">{{ item.0 }}</h4>
              <p class="card-text" style="font-size:1rem">{{ item.1 }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

  <div style="height:40vw; clip-path: circle(1500px at 42% 1500px);
              background:linear-gradient(100deg,rgba(0,79,89,0.7) 20%,rgba(0,79,89,0) 50%), url('/static/img/Fast_food_restaurant_Hesburger_in_Kajaani.JPG');
              background-size:cover; background-position:center; background-repeat:no-repeat;
              margin-top:-120px; position:relative; z-index:-1;">
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
    </div>
  </div>
  </div>

{% endblock %}
