
{% extends "base.html" %}


{% block style %}
  <style>
      input#muteButton {
          display: none;
      }
      .mute img {
          display: none;
      }
      input#muteButton:checked ~ .mute img {
          display: initial;
      }
      input#muteButton:checked ~ .unmute img {
          display: none;
      }

      .mute-button {
          position:relative;
          top: -60px;
          float: right;
          right: 50px;
      }
      .mute-button img {
          width: 30px;
          height: 30px;
      }

  </style>
{% endblock style %}


{% block content %}

  <div style="height: 500px; margin-top:-120px;  z-index:-1">
    <video id="jumbotronVideo" autoplay muted width="100%" height='500px' style="object-fit: cover;"
           src="/static/video/{{ videos.0 }}">
    </video>

    <input type="checkbox" id="muteButton">
    <label for="muteButton" class="mute-button unmute">
      <img src="/static/icons/mute.svg" alt="play music">
    </label>
    <label for="muteButton" class="mute-button mute">
      <img src="/static/icons/speaker.svg" alt="stop music">
    </label>

    <div style="position: relative;top: -350px;color: white;">
      <div class="container py-5">
        <h1 class="display-3 fw-bold">{{ jumbotron_title }}</h1>
        <h2 class="col-md-8 fs-2">{{ jumbotron_text }}</h2>
      </div>
    </div>

  </div>

  <main role="main" class="container">

    <div class="row row-cols-3 g-4">
      {% for item in content %}
        <div class="col">
          <div class="card h-100">
            <img src="/static/img/{{ item.2 }}" class="card-img-top"
                 style="aspect-ratio: 16 / 9; object-fit: cover;">
            <div class="card-body">
              <h3 class="card-title">{{ item.0 }}</h3>
              {% for paragraph in item.1 %}
                <p class="card-text">{{ paragraph }}</p>
              {% endfor%}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </main>

{% endblock %}


{% block script %}

  <script>
      const videoElement = document.getElementById("jumbotronVideo");

      videoElement.addEventListener('ended', function() {
          let current = videoElement.getAttribute('src');
          let options = [
              {% for video_file in videos %}
              '/static/video/{{ video_file }}',
              {% endfor %}
          ];
          options = options.filter(function(value) {return value !== current});
          let pick = options[Math.floor(Math.random() * options.length)];
          videoElement.setAttribute("src", pick);
          videoElement.load();
          videoElement.play();
      });

      let music = new Audio('/static/audio/carl_filtsch_romance_op_3_no_1.mp3');
      music.loop = true;

      document.getElementById('muteButton').onclick = function() {
          if (music.paused) {
              music.play();
          } else {
              music.pause();
          }
      };

  </script>

{% endblock script %}