
{% extends "base.html" %}


{% block style %}
  <style>
      .media-button {
          position:relative;
          top: -60px;
          float: right;
          right: 50px;
      }
      .sound-button img {
          width: 33px;
          height: 33px;
      }
      .video-button img {
          width: 25px;
          height: 25px;
          margin-top: 4px;
          margin-left:  10px;
      }

      .card-img-overlay h5, .card-img-overlay  p{
          font-family: open-sans, sans-serif;
      }
      .darken-hover-background {
          background-color: black;
          height: 100%;
          opacity: 0.2;
      }
      .darken-hover-background:hover {
        opacity: 0.5;
        transition: opacity .3s;
      }
      .card-img-overlay {
          top: inherit;
          padding: 1.5rem;
      }
      .card-img-overlay p {
         text-transform: uppercase;
      }

      .jumbotron-wrapper {
          height: 550px;
          margin-top: -120px;
          background-color: #3d3100;
      }
      #jumbotronVideo {
          width: 100%;
          height: 550px;
          object-fit: cover;
          opacity: 0.75;
      }
      .jumbotron-text {
          position: relative;
          top: -325px;
          color: white;
      }

      @media only screen and (max-width: 760px) {
          .jumbotron-wrapper {
              background-color: black;
          }
          #jumbotronVideo {
              display: none;
          }
          .jumbotron-video-replacement {
              height: 100%;
              background-image: url('/static/img/pexels-cottonbro-4253305.jpg');
              background-size: contain;
              opacity: 0.75;
          }
          .media-button {
              display: none;
          }
      }


  </style>
{% endblock style %}


{% block content %}

  <div class="jumbotron-wrapper">
    <video id="jumbotronVideo" muted preload="none" src="/static/video/{{ videos.0 }}"></video>
    <div class="jumbotron-video-replacement"></div>

    <span id="playButton" class="media-button video-button">
      <img src="{{ url_for('static', filename='icons/play.svg') }}" alt="play video"></span>
    <span id="pauseButton" class="media-button video-button" style="display:none">
      <img src="{{ url_for('static', filename='icons/pause.svg') }}" alt="pause video"></span>

    <span id="muteButton" class="media-button sound-button" style="display:none">
      <img src="{{ url_for('static', filename='icons/mute.svg') }}" alt="mute"></span>
    <span id="unmuteButton" class="media-button sound-button">
      <img src="{{ url_for('static', filename='icons/speaker.svg') }}" alt="unmute"></span>

    <div class="jumbotron-text">
      <div class="container py-5">
        <h1 class="display-3 fw-bold">{{ jumbotron_title }}</h1>
        <h2 class="col-md-8 fs-1">{{ jumbotron_text }}</h2>
      </div>
    </div>

  </div>

  <main role="main" class="container">

    <div class="row mb-3">
      <div class="col">
        <h2>Nieuws</h2>
      </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4 mb-5">
      {% for item in content_top %}
        <div class="col">
          <div class="card h-100">
            <img src="/static/img_random/{{ item.2 }}" class="card-img-top"
                 style="aspect-ratio: 16 / 9; object-fit: cover;">
            <div class="card-body">
              <h3 class="card-title">{{ item.0 }}</h3>
              {% for paragraph in item.1 %}
                <p class="card-text">{{ paragraph }}</p>
              {% endfor%}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="row mb-3">
      <div class="col">
        <h2>Aankomend</h2>
      </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1" style="margin-bottom:100px;">
      {% for item in content_mid %}
      <div class="col">
        <div class="card text-white mb-4">
          <img src="/static/img_random/{{ item.2 }}" class="card-img"
               style="aspect-ratio: 0.94; object-fit: cover;">
          <div class="card-img-overlay darken-hover-background"></div>
          <div class="card-img-overlay">
            <h5 class="card-title">{{ item.0 }}</h5>
            <p class="card-text">{{ item.1 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 g-4">
      {% for item in content_bottom %}
        <div class="col p-4">
          <div class="card h-100">
            <img src="/static/img_random/{{ item.2 }}" class="card-img-top"
                 style="aspect-ratio: 9 / 12; object-fit: cover;">
            <div class="card-body">
              <h3 class="card-title">{{ item.0 }}</h3>
              {% for paragraph in item.1 %}
                <p class="card-text">{{ paragraph }}</p>
              {% endfor%}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </main>

{% endblock %}


{% block script %}

  <script>

  document.addEventListener("DOMContentLoaded", function(event) {

      const videoElement = document.getElementById("jumbotronVideo");

      if (getComputedStyle(videoElement).getPropertyValue('display') !== 'none') {
          videoElement.play();

          videoElement.addEventListener('ended', function () {
              let current = videoElement.getAttribute('src');
              let options = [
                  {% for video_file in videos %}
                      '/static/video/{{ video_file }}',
                  {% endfor %}
              ];
              options = options.filter(function (value) {
                  return value !== current
              });
              let pick = options[Math.floor(Math.random() * options.length)];
              videoElement.setAttribute("src", pick);
              videoElement.play();
          });

          const music = new Audio("{{ url_for('static', filename='/audio/carl_filtsch_romance_op_3_no_1.mp3') }}");
          music.muted = true;
          music.loop = true;
          music.play();

          videoElement.onplay = function () {
              document.getElementById('playButton').style.display = 'none';
              document.getElementById('pauseButton').style.display = 'inherit';
          }
          videoElement.onpause = function () {
              document.getElementById('playButton').style.display = 'inherit';
              document.getElementById('pauseButton').style.display = 'none';
          }

          document.getElementById('playButton').onclick = function () {
              music.play();
              videoElement.play();
          }
          document.getElementById('pauseButton').onclick = function () {
              music.pause();
              videoElement.pause();
          }

          document.getElementById('muteButton').onclick = function () {
              music.muted = true;
              document.getElementById('muteButton').style.display = 'none';
              document.getElementById('unmuteButton').style.display = 'inherit';
          }
          document.getElementById('unmuteButton').onclick = function () {
              music.muted = false;
              document.getElementById('muteButton').style.display = 'inherit';
              document.getElementById('unmuteButton').style.display = 'none';
          }

      }  // end check not on mobile

  });

  </script>

{% endblock script %}